body {
    text-align: center;
    margin: 0;
    height: 100%;
}

#index {
    font-family: 'Raleway','Georgia', serif;
    background-color: #b9e184;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 0;

}

.s1 {
    position: fixed;
    margin-left: 0px;
    background-color: #A18B7D;
    height: 100vh;
    width: 100px;
    flex: 1;
}

.gallery {
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
}

.gallery-item {
    margin: 20px;
}

.contact p a {
    color: white;
    text-decoration: none;
    
}

.contact p a:hover {
    color: black;
    text-decoration: underline;
    
}

.note {
    color: black;
    font-size: 10px;
	font-family: 'Raleway', 'Georgia';
    text-align: center;
    vertical-align: middle;
    margin-top: 50px;
    
}

.note a {
    text-decoration: none;
    color: white;
}

.note a:hover {
    color: black;
    text-decoration: none; 
}


ul {
    list-style: none;
    padding: 0;
    list-style-type: none;    
    color: white;
}

.header {
    height: 450px;
    width: 100%;
    background-image: url("./Images/header3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.header p {
    position: relative;
    z-index: 1000;
    color: white;
    font-size: 80px;
    text-align: center;
    vertical-align: middle;
    padding-top: 15%;
    margin-top: 0;
}

.box {
    position: relative;
    height: 100px;
    width: 900px;
    background-color: #4d4d4d;
    vertical-align: middle;
    text-align: center;
    margin-top: -14%;
    margin-left: 15%;
    
}